BifacialSimu/Controller/__pycache__/*.cpython-37.pyc
BifacialSimu/Controller/__pycache__/*.cpython-38.pyc
BifacialSimu/Controller/__pycache__/*.cpython-39.pyc
BifacialSimu/Handler/__pycache__/*.cpython-37.pyc
BifacialSimu/Handler/__pycache__/*.cpython-38.pyc
BifacialSimu/Handler/__pycache__/*.cpython-39.pyc


Plots/.DS_Store
Lib/.DS_Store
__pycache__/
.Bifacial_venv/
.pytest_cache/
